@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav-brand{
    font-size: 35px !important;
    font-family: 'Bebas Neue', cursive;
    color: #fff
}


.color-nav{
    background-color: #61B6DA;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}



.body{
    padding-top:100px; 
}
